<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="title text-center">
        <p>Clément <span style="color: #4527A0;">Bacle</span></p>
      </div>
      <div class="social-media">
        <div class="row">
          <div class="col-xs-3 text-center icon">
            <i class="fa fa-info" aria-hidden="true"></i>
          </div>
          <div class="col-xs-3 text-center icon">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </div>
          <div class="col-xs-3 text-center icon">
            <i class="fa fa-quora" aria-hidden="true"></i>
          </div>
          <div class="col-xs-3 text-center icon">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
