<div class="card">
  <div class="card-header">
    <%= cl_image_tag @product.photo, class: "card__image" %>
    <h2 class="card__title"><%= post.title %></h2>
  </div>
  <div class="card__text">
    <p><%= sanitize post.content %></p>
  </div>
  <div class="share">
    <p class="text-center">SHARE</p>
  </div>
</div>


