<div class="card">
  <div class="card-header">
<!--     <%= image_tag article.image_url %>
 -->  </div>
  <div class="card-body">
    <h2><%= article.title %></h2>
    <p class="article-content"><%= article.body %></p>
  </div>
</div>
