// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "card";
@import "trix";
@import "form";
@import "bio";

.body {
  position: relative;
}

.log {
  position: absolute;
  right: 10px;
  top: 10px;
  a {
    text-decoration: none;
    padding: 10px;
    color: #2C3E50;
  }
}

.logo {
  position: absolute;
  left: 10px;
  top: 10px;
   li {
    display: inline;
  }
    p {
      display: inline;
      color: #2C3E50;
    }
}

#logo {
  width: 70px;
  height: 70px;
}
