.icon {
  padding-bottom: 20px;
  padding-top: 60px;
  a {
    text-decoration: none;
    color: white;
  }
}

#info-icon {
  color: #2C3E50;
  &:hover {
  color: #E7CA14;
  }
}

#linkedin-icon {
  color: #2C3E50;
  &:hover {
    color: #3072AC;
  }
}


#quora-icon {
  color: #2C3E50;
  &:hover {
  color: #AA382F;
  }
}



#email-icon {
  color: #2C3E50;
  &:hover {
  color: grey;
  }
}
