.trix-content {
  background-color: #FFF;
  height: 60vh;
  overflow: scroll;
}

.trix-button {
  background-color: #FFF !important;
}

.trix-button-row {
  margin-top: 20px;
}

#post_content_trix_input_post {
      border: 1px solid #bbb;
    border-radius: 3px;
    margin: 0;
    padding: 0.4em 0.6em;
    min-height: 5em;
    outline: none;
    width: 1145px;
    overflow: scroll;
}
